html{
    font-size: 62.5%;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex-space-evenly-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main{
    min-height: 100vh;
    flex-direction: column;
    background-image: url("assets/tower-pp.jpg");
}

.main-header{
    min-height: 10vh;
    min-width: 100%;
    flex-direction: column;
    background-color: #fbc531;
}

.main-content-child{
    min-width: 100%;
}

.main-content{
    height: 90vh;
    width: 100%;
}

.main-content-ecrire{
    height: 100vh;
    width: 100%;
}

.dynamic-content{
    height: 20vh;
}

.dynamic-content-img{
    max-height: 100%;
}

.dynamic-letters{
    display: none;
    height: 20vh;
}

.dynamic-chiots{
    display: none;
    height: 20vh;
}

.dynamic-chiffre{
    height: 20vh;
}

.img-lettre{
    max-height: 20vh;
}

.img-btn{
    max-height: 100%;
    cursor: pointer;
}

.img-btn:hover{
    transform: scale(1.1);
}

.lien-header{
    display: inline-block;
    color: white;
}

.lien-header:hover{
    /* transform: scale(1.1); */
    background-color: #0876CC;
}

.btn-jouer{
    color: white;
    cursor: pointer;
}

.btn-jouer-ecrire:hover{
    transform: scale(1.1);
}

.btn{
    font-size: 2.4rem;
    padding: 1rem 1.8rem;
    margin: 1rem;
    border: none;
    border-radius: 6px;
    font-family: inherit;
}

.rose{
    background-color: #e84393;
}

.vert{
    background-color: #44bd32;
}

.bleu{
    background-color: #0984e3;
}

.logo-chiots{
    width: 96px;
    cursor: pointer;
    border-radius: 50%;
}

.logo-everest{
    width: 86px;
    cursor: pointer;
    border-radius: 50%;
}

.logo-chiots:hover{
    scale: 1.1;
}

.logo-everest:hover{
    scale: 1.1;
}

.image-chiots{
    width: 14vw;
}

.image-aleatoire-wrapper{
    width: 100%;
}

.image-aleatoire{
    width: 20%;
}

.nom-aleatoire{
    height: 20vh;
}

.nom-chiot{
    height: 10vh;
}

.img-nom-chiot{
    max-height: 100%;
    animation-duration: 2s;
    animation-name: lettre-nom-chiot;
}

@keyframes lettre-nom-chiot {
    from {
      transform: scale(10);
      position: relative;
      bottom: 30vh;
    }
  
    to {
      transform: scale(1);
      position: relative;
      bottom: 0;
    }
}

.nombre-aleatoire-wrapper{
    width: 100%;
    height: 30vh;
}

.nombre-aleatoire-os{
    max-width: 100%;
    min-height: 100%;
    padding: 16px 0;
    flex-wrap: wrap;
}

.img-os{
    width: 10vw;
    transform: rotate(90deg);
}

.reaction{
    display: none;
    position: absolute;
    top: 30vh;
    left: 30vw;
}

.img-reaction{
    animation-duration: 2s;
    animation-name: imgReaction;
    animation-direction: alternate;
    transform: scale(0);
}

@keyframes imgReaction {
    from {
        transform: scale(0);
    }

    50%{
        transform: scale(1.5) rotate(30deg); 

        }

    to{
        transform: scale(0) rotate(-360deg); 
    }
}

.victoire{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
}

.img-trouvee{
    animation-duration: 2s;
    animation-name: imgTrouvee;
}

@keyframes imgTrouvee {
    from {
      transform: scale(1);
    }

    50%{
        transform: scale(3);
    }
  
    to {
      transform: scale(1);
    }
}

.wrapper-calculer{
    padding: 32px;
    display: flex;
    height: 90vh;
}

.top-calculer{
    width: 100%;
}

.nombre-aleatoire-calculer{
    width: 15vw;
}

.receptacle-total-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    height: 100%;
}

.total-os-pose{
    height: 100%;
    width: 30%;
}

.img-total-os-pose{
    width: 100%;
}

.receptacle-wrapper{
    background-color: crimson;
    width: 60%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 18px 12px crimson;
}

.os-paquet-wrapper{
    width: 100%;
    height: 100%;
}

.img-os-paquet{
    height: 20vh;
    position: absolute;
}

.img-os-1{
    bottom: 60px;
    left: 4%;
}

.img-os-2{
    bottom: 60px;
    left: 18%;
}

.img-os-3{
    bottom: 60px;
    left: 34%;
}

.img-os-4{
    bottom: 60px;
    left: 54%;
}

.img-os-5{
    bottom: 60px;
    left: 75%;
}

.drag-shield{
    width: 60%;
    height: 100%;
    border-radius: 50%;
    z-index: 9;
}

@media (max-width: 1000px) {
    .flex-space-around{
        flex-wrap: wrap;
    }

    .logo-chiots{
        margin: 12px;
    }

    .logo-everest{
        margin: 12px;
    }

    .dynamic-content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .image-chiots{
        width: 20vw;
    }

    .dynamic-letters{
        flex-wrap: wrap;
    }

    .dynamic-chiots{
        flex-wrap: wrap;
    }

    .img-btn{
        max-height: 80%;
    }

    .nombre-aleatoire-wrapper{
        min-height: 30vh;
    }

    .img-os{
        width: 20vw;
    }

    .img-os-paquet{
        height: 18vh;
     }
 
     .img-os-1{
        bottom: 280px;
        left: 4%;
     }
 
     .img-os-2{
        bottom: 280px;
        left: 34%;
     }
 
     .img-os-3{
        bottom: 280px;
        left: auto;
        right: 4%;
     }
 
     .img-os-4{
        bottom: 60px;
        left: 4%;
     }
 
     .img-os-5{
        bottom: 60px;
        left: auto;
        right: 2%;
     }
}

@media (max-width: 600px) {
    html{
        overflow-y: scroll;
    }

    body{
        overflow: hidden;
    }

    .main{
        min-height: 120vh;
    }

    nav{
        width: 100%;
        text-align: center;
    }

    .lien-header{
        font-size: 1.5rem;
        margin: 2px 0px;
        padding: 1rem 1.2rem;
    }

    .main-content{
        height: 100%;
    }

    .flex-space-evenly-column{
        justify-content: flex-start;
    }

    .dynamic-content{
        height: 60vh;
    }

    .dynamic-chiots{
        flex-wrap: wrap;
    }

    .image-chiots{
        width: 33vw;
    }

    .img-btn{
        max-height: 50%;
    }

    .img-btn-chiot{
        max-height: 100%;
    }

    .image-aleatoire{
        width: 60%;
    }

    .img-nom-chiot{
        max-height: 70%;
    }

    .nombre-aleatoire-wrapper{
        min-height: 40vh;
    }

    .img-os{
        width: 30vw;
    }

    .reaction{
        top: 18vh;
        left: -50vw;
    }

    .img-lettre{
        max-height: 40%;
    }

    @keyframes imgReaction {
        from {
            transform: scale(0);
        }
    
        50%{
            transform: scale(0.8) rotate(30deg); 
    
            }
    
        to{
            transform: scale(0) rotate(-360deg); 
        }
    }

    .body-100{
        max-height: 100vh;
    }

    .wrapper-calculer{
        padding: 8px;
    }

    .top-calculer{
        flex-direction: column;
        /* height: 50vh; */
    }

    .nombre-aleatoire-calculer{
        width: 26vw;
        margin: -8px 0 8px 0;
    }

    .receptacle-total-wrapper{
        width: 70vw;
        margin-left: 58px;
    }

    .receptacle-wrapper{
        width: 60%;
    }

    .img-total-os-pose{
        width: 80%;
    }

    .os-paquet-wrapper{
        flex-wrap: wrap;
    }

    .img-os-paquet{
       height: 12vh;
    }

    .img-os-1{
        bottom: 16%;
        left: 2%;
    }

    .img-os-2{
        bottom: 16%;
        left: 34%;
    }

    .img-os-3{
        bottom: 16%;
        left: auto;
        right: 2%;
    }

    .img-os-4{
        bottom: 2%;
        left: 2%;
    }

    .img-os-5{
        bottom: 2%;
        left: auto;
        right: 2%;
    }
}