<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <script type="module" src="../controllers/compter.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-preset-confetti@2/tsparticles.preset.confetti.bundle.min.js">
    </script>
    <title>COMPTER</title>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
</head>

<body class="body-100">

    <main class="main">
        <audio class="audio1" autoplay src=""></audio>
        <div id="tsparticles"></div>

        <header class="main-header flex-space-around">
            <nav>
                <a class="lien-header btn bleu" href="../index.html">ACCUEIL</a>
                <a class="lien-header btn bleu" href="ecrire.html">ÉCRIRE</a>
                <a class="lien-header btn bleu" href="lire.html">LIRE</a>
                <a class="lien-header btn bleu" href="#">COMPTER</a>
                <a class="lien-header btn bleu" href="calculer.html">CALCULER</a>
            </nav>
        </header>

        <div class="main-content flex-space-evenly-column">
            <div>
                <button class="btn btn-jouer btn-compter rose">REJOUER</button>
            </div>

            <div class="nombre-aleatoire-wrapper">
                <div class="nombre-aleatoire-os flex-center"></div>
            </div>

            <div>
                <div class="dynamic-chiffre flex-center">
                    <img class="img-btn img-nombre-aleatoire" src="" alt="">
                    <img class="img-btn img-nombre-aleatoire" src="" alt="">
                    <img class="img-btn img-nombre-aleatoire" src="" alt="">
                    <img class="img-btn img-nombre-aleatoire" src="" alt="">
                    <img class="img-btn img-nombre-aleatoire" src="" alt="">
                </div>
            </div>

            <div></div>

        </div>
    </main>

</body>

</html>